FUSIONSOLAR_USER=deputynl
FUSIONSOLAR_PASSWORD=your_password_here
FUSIONSOLAR_SUBDOMAIN=uni005eu5

MQTT_HOST=192.168.1.x
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

# Optional overrides
MQTT_DISCOVERY_PREFIX=homeassistant
MQTT_STATE_TOPIC=fusionsolar/state
POLL_INTERVAL=300
